body{
    border: 2px solid;
}
#box1{
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: blueviolet;
    padding: 10px;
    margin-top: 20px;
}

#box2{
    
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: green;
    padding: 20px;
 margin-left: 50%;
 margin-left: auto;
    margin-top: 10px;
}